@using CMSWebsite.Models
@{
    PhotoAlbumEntities db = new PhotoAlbumEntities();

    List<Web_Menu> listMenu = new List<Web_Menu>();
    List<Web_Menu> listParent = new List<Web_Menu>();
    listMenu = db.Web_Menu.Where(o => o.Active == true && o.MenuTypeId == 1).OrderBy(o => o.MenuOrder).ToList();
    listParent = listMenu.Where(o => o.ParentId == 0 && o.Active == true).OrderBy(o => o.MenuOrder).ToList();

}


<!-- header_section - start
================================================== -->
<header class="header_section">
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-md-6">
                    <ul class="header_select_options ul_li">
                        <li>
                            <div class="select_option">
                                <div class="flug_wrap">
                                    <img src="~/Images/web/flug/flug_uk.png" alt="PC-SHOP-Trang-Tri-May-Tinh-Hai-Phong">
                                </div>
                                <select>
                                    <option data-display="Select Option">Ngôn ngữ</option>
                                    <option value="1" selected>Tiếng việt</option>
                                    <option value="2">Tiếng Anh</option>
                                    
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="select_option">
                                <h3 class="title_text"></h3>
                                <select>
                                    <option data-display="Select Option">Đơn vị tiền</option>
                                    <option value="Việt Nam Đồng" selected>VNĐ</option>
                                    <option value="Armenian Dram">AMD</option>
                                    <option value="Australian Dollar" disabled>AUD</option>
                                    <option value="Austria">EUR</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-6">
                    <p class="header_hotline">Hotline: <strong>0986.000.685</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header_middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-lg-3 col-5">
                    <div class="brand_logo">
                        <a class="brand_link" href="/">
                            <img src="~/Images/web/logo/logo-pc-white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col col-lg-6 col-2">
                    <nav class="main_menu navbar navbar-expand-lg">
                        <div class="main_menu_inner collapse navbar-collapse justify-content-center" id="main_menu_dropdown">
                            <ul class="main_menu_list ul_li">
                                @foreach (var item in listParent)
                                {
                                    var lstChild = listMenu.Where(o => o.ParentId == item.MenuId).OrderBy(o => o.MenuOrder).ToList();
                                    if (lstChild.Count != 0)
                                    {
                                        <li class="dropdown">
                                            <a href="@item.URL">@item.MenuName</a>
                                            <ul class="dropdown-menu" aria-labelledby="home_submenu">
                                                @foreach (var jtem in lstChild)
                                                {
                                                    <li><a href="@jtem.URL">@jtem.MenuName</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@item.URL">@item.MenuName</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col col-lg-3 col-5">
                    <ul class="header_icons_group ul_li_right">
                        <li>
                            <button class="mobile_menu_btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fal fa-bars"></i>
                            </button>
                        </li>
                        <li><a href="contact.html"><i class="fa-regular fa-location-dot"></i></a></li>
                        <li><a href="account.html"><i class="fa-regular fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-md-3 col-6">
                    <div class="allcategories_dropdown">
                        <button class="allcategories_btn" type="button" data-bs-toggle="collapse" data-bs-target="#allcategories_collapse" aria-expanded="false" aria-controls="allcategories_collapse">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="13" viewBox="0 0 15 13">
                                <image width="15" height="13" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANAgMAAAALcNzSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX+//3+//0AAABvRd2oAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQflBwIBIhVZ2fz2AAAAGUlEQVQI12MIDQ0NYQATaAAshEUcJgvVBgDy4QdJZv6kzwAAAABJRU5ErkJggg==" />
                            </svg>
                            DANH MỤC
                        </button>
                        <div class="allcategories_collapse collapse" id="allcategories_collapse">
                            <div class="card card-body">
                                <ul class="allcategories_list ul_li_block">
                                    <li><a href="/"><i class="fa-duotone fa-rocket-launch"></i> Sản phẩm HOTTREND</a></li>
                                    <li><a href="/danh-muc/ban-phim-co"><i class="fa-duotone fa-keyboard"></i> Bàn phím cơ</a></li>
                                    <li><a href="/danh-muc/ban-gaming"><i class="fa-duotone fa-table"></i> Bàn Gaming</a></li>
                                    <li><a href="/danh-muc/lot-chuot"><i class="fa-duotone fa-rug"></i> Lót chuột</a></li>
                                    <li><a href="/danh-muc/chuot-gaming"><i class="fa-duotone fa-computer-mouse"></i> Chuột máy tính</a></li>
                                    <li><a href="/danh-muc/loa-tai-nghe"><i class="fa-duotone fa-speakers"></i> Loa & Tai nghe</a></li>
                                    <li><a href="/danh-muc/phu-kien-trang-tri"><i class="fa-duotone fa-teddy-bear"></i> Phụ kiện trang trí PC</a></li>
                                    <li><a href="/danh-muc/phu-kien-pc"><i class="fa-solid fa-computer"></i> Phụ kiện PC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <form action="#">
                        <div class="advance_serach">
                            <div class="form_item">
                                <input type="search" name="search" placeholder="Tìm kiếm sản phẩm...">
                            </div>
                            <button type="submit" class="search_btn"><i class="far fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col col-md-3 col-6">
                    <button type="button" class="cart_btn">
                            <span class="cart_icon">
                                <i class="icon icon-ShoppingCart"></i>
                                <small class="cart_counter">3</small>
                            </span>
                            <span class="cart_amount">$90.00</span>
                        </button>
                    @*<span class="hotline_menu">ZALO Mua Hàng : 0986.000.685</span>*@
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header_section - end
================================================== -->
