
@model CMSWebsite.Models.DetailProductModel

@{
    ViewBag.Title = Model.Product.Name;

    Layout = "~/Views/Shared/Web_MasterPage.cshtml";
    string[] lstGalery = Model.Product.Gallery.Split(';');
}


<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="/">PC-SHOP</a></li>
            <li>@Model.Product.Name</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- product_details - start
================================================== -->
<section class="product_details section_space pb-0">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <div class="product_details_image">
                    <div class="details_image_carousel">
                        <div class="slider_item">
                            <img src="@Model.Product.Images" alt="">
                        </div>
                        <div class="slider_item">
                            <img src="@Model.Product.ImageHover" alt="">
                        </div>
                        @foreach (var item in lstGalery)
                        {
                            <div class="slider_item">
                                <img src="@item" alt="">
                            </div>
                        }
                    </div>
                    <div class="details_image_carousel_nav">
                        <div class="slider_item">
                            <img src="@Model.Product.Images" alt="">
                        </div>
                        <div class="slider_item">
                            <img src="@Model.Product.ImageHover" alt="">
                        </div>
                        @foreach (var item in lstGalery)
                        {
                            <div class="slider_item">
                                <img src="@item" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product_details_content">
                    <h2 class="item_title">@Model.Product.Name</h2>
                    @*<p>
            @Model.Product.ProDescription
        </p>*@
                    <div class="item_review">
                        <ul class="rating_star ul_li">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <span class="review_value">3 Rating(s)</span>
                    </div>
                    <div class="item_price">
                        <span>@Model.Product.PriceRetailStr đ</span>
                        @if (Model.Product.PriceSource != 0)
                        {
                            <del>@Model.Product.PriceSource</del>
                        }

                    </div>
                    <hr>
                    <div class="item_attribute">
                        @Html.Raw(Model.Product.ProSumary)
                        @*<h3 class="title_text">Options <span class="underline"></span></h3>
            <form action="#">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="select_option clearfix">
                            <h4 class="input_title">Size *</h4>
                            <select>
                                <option data-display="- Please select -">Choose A Option</option>
                                <option value="1">Some option</option>
                                <option value="2">Another option</option>
                                <option value="3" disabled>A disabled option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="select_option clearfix">
                            <h4 class="input_title">Color *</h4>
                            <select>
                                <option data-display="- Please select -">Choose A Option</option>
                                <option value="1">Some option</option>
                                <option value="2">Another option</option>
                                <option value="3" disabled>A disabled option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                    </div>
                </div>
                <span class="repuired_text">Repuired Fiields *</span>
            </form>
        </div>
        <div class="quantity_wrap">
            <form action="#">
                <div class="quantity_input">
                    <button type="button" class="input_number_decrement">
                        <i class="fal fa-minus"></i>
                    </button>
                    <input class="input_number" type="text" value="1">
                    <button type="button" class="input_number_increment">
                        <i class="fal fa-plus"></i>
                    </button>
                </div>
            </form>
            <div class="total_price">
                Total: $620,99
            </div>*@
                    </div>
                    <ul class="default_btns_group ul_li">
                        <li><a class="addtocart_btn" href="/Web_Cart/AddToCart?productId=@Model.Product.ProductID">Mua ngay</a></li>
                        @*<li><a href="#!"><i class="fa-solid fa-arrows-rotate"></i></a></li>
                            <li><a href="#!"><i class="fas fa-heart"></i></a></li>*@
                    </ul>
                    @*<ul class="default_share_links ul_li">
                            <li>
                                <a class="facebook" href="#!">
                                    <span><i class="fab fa-facebook-square"></i> Like</span>
                                    <small>10K</small>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#!">
                                    <span><i class="fab fa-twitter-square"></i> Tweet</span>
                                    <small>15K</small>
                                </a>
                            </li>
                            <li>
                                <a class="google" href="#!">
                                    <span><i class="fab fa-google-plus-square"></i> Google+</span>
                                    <small>20K</small>
                                </a>
                            </li>
                            <li>
                                <a class="share" href="#!">
                                    <span><i class="fas fa-plus-square"></i> Share</span>
                                </a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="details_information_tab">
            <ul class="tabs_nav nav ul_li" role=tablist>
                <li role="presentation">
                    <button class="active" data-bs-toggle="tab" data-bs-target="#description_tab" type="button" role="tab" aria-controls="description_tab" aria-selected="true">
                        Chi tiết sản phẩm
                    </button>
                </li>
                @*<li role="presentation">
                    <button data-bs-toggle="tab" data-bs-target="#video_tab" type="button" role="tab" aria-controls="reviews_tab" aria-selected="false">
                        Video
                    </button>
                </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="description_tab" role="tabpanel">
                    @Html.Raw(Model.Product.ProDescription)
                </div>
                @*<div class="tab-pane fade" id="video_tab" role="tabpanel">
                    Video
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- product_details - end
================================================== -->
<!-- related_products_section - start
================================================== -->
<section class="related_products_section section_space">
    <div class="container">
        <div class="section_title mb-0">
            <h2 class="title_text">Sản phẩm tương tự</h2>
        </div>
        <div class="product_wrap related_products_wrap">
            @foreach (var item in Model.RelateProduct)
            {
                <div class="product_layout1">
                    <div class="item_image">
                        <img src="@item.Images" alt="@item.URLFriendly">
                        <img src="@item.ImageHover" alt="@item.URLFriendly">
                        @*<a class="quickview_btn" data-bs-toggle="modal" href="#quickview_popup" role="button">Quick View</a>*@
                    </div>
                    <div class="item_content">
                        <h3 class="item_title">
                            <a href="@item.URLFriendly">@item.Name</a>
                        </h3>
                        <ul class="rating_star ul_li">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="item_price">
                            <span>@item.PriceRetailStr đ</span>
                            @if (item.PriceSource != 0)
                            {
                                <del>@item.PriceSource</del>
                            }
                        </div>
                        @*<ul class="item_btns_group ul_li">
                            <li><a class="addtocart_btn" href="shop_details.html">Add To Cart</a></li>
                            <li><a href="#!"><i class="fa-solid fa-arrows-rotate"></i></a></li>
                            <li><a href="#!"><i class="fas fa-heart"></i></a></li>
                        </ul>*@
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- related_products_section - end
================================================== -->
