@model List<CMSWebsite.Models.PortfolioView>
@{
    ViewBag.Title = "Tất cả dự án";
    Layout = "~/Views/Shared/CMS_MasterPage.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Tất cả dự án</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" style="text-align:right;">
            <a class="btn btn-primary btn-sm" href="/CMS_Portfolio/AddPortfolio"> Thêm dự án mới</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="tblShowCar">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh bìa</th>
                    <th>Tên bài viết</th>
                    <th>Danh mục</th>
                    <th>Ngày viết</th>
                    <th>Tác giả</th>
                    <th width="100px">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PortfolioId</td>
                            <td><img src="@item.ImgFace" height="50" /></td>
                            <td>@item.PortfolioTitle</td>
                            <td>@item.PortfolioCate</td>
                            <td>@item.PortfolioDate</td>
                            <td>@item.PortfolioAuthor</td>
                            <td width="100px">
                                <a href="#"><img src="~/Images/cms/icon/edit.png" width="25" height="25" title="Sửa dự án" onclick="location.href='@Url.Action("ViewEdit", "CMS_Portfolio", new { id = @item.PortfolioId })'" /></a>&nbsp;
                                <a href="/@item.UrlFriendly"><img src="~/Images/cms/icon/view.png" width="25" height="25" title="Xem bài viết" /></a>&nbsp;
                                <a href="#"><img src="~/Images/cms/icon/delete.png" width="25" height="25" title="Xóa dự án" onclick="deletePortfolio(@item.PortfolioId)" /></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div> <!-- End col-md-12  -->
</div>


<script type="text/javascript" src="~/Scripts/cms/cms.all-portfolio.js"></script>

